<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
     <% if(typeof error !== 'undefined') { %>
        <h3 style="color: red;"><%= error %></h3>
    <% } %>
    <form action="/api/resetUpdatePassword" method="POST">
        
        <!-- ✅ token not user_id, no extra quote in name -->
        <input type="hidden" name="token" value="<%= token %>">

        <input type="password" name="password" required placeholder="New Password">
        <br><br>
        <input type="password" name="c_password" required placeholder="Confirm Password">
        <br><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>